.container{
    width: 150px;
    height: 150px;
    background-color: brown;
    animation: demo;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* animation-delay: 3ms; */
    /* transition: .5s;   */
    position: relative;
}
@keyframes demo{
    0%{background-color: brown;border-radius: 50px;left: 0px;top: 0px;}
    10%{background-color: green;left: 500px;top: 0px;}
    20%{background-color: gray;border-radius: 50px;left: 1000px;top: 500px}
    30%{background-color: rebeccapurple;left: 500px;top: 0px}
    40%{background-color: wheat;border-radius: 50px;left: 500px;top: 0px}
    50%{background-color:teal ;left: 500px;top: 0px}
    60%{background-color:darkcyan ;border-radius: 50px;left: 500px;top:1000px}
    70%{background-color: gold;left: 500px;top: 0px}
    80%{background-color:sienna ;border-radius: 50px;left: 500px;top: 0px}
    90%{background-color:indigo ;left: 500px;top: 500px}
    100%{background-color: brown;border-radius: 50px;left: 0px;top: 0px}

}
/* .container:hover{
    transform:rotate(360deg);
} */
