* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Navigation Bar */
.nav {
    padding: 20px;    
    display: flex;   
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
}

.right {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.right g {
    margin: 20px;
    color: inherit;
    cursor: pointer;
}

.right g:hover{
    color: red;
}
/* ____________________________part1____________________________________ */


.content-wrapper {
    /* background-color: green; */
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* Left side: Contains the image and container2 */
.left-side {
    width: 60%;
}

.image {
    width: 100%;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container2 {
    margin-top: 20px;
    padding: 20px;
    /* background-color: #f0f0f0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Content inside container2 */
.content1 {
    flex: 1;
    font-size: 35px;
    font-weight: 50;
    padding-top: 0;
    /* background-color: blue; */
}

.content2 {
    display: flex;
    flex: 1;
    padding-bottom: 50px;
    /* background-color: yellow; */
    /* justify-content: space-between; */
    align-items: center;
}

button {
    background-color: rgba(209, 13, 55, 0.856);
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    color: black;
    /* border-radius: 20px; */
    padding: 10px 30px;
    cursor: pointer;
}
button:hover{
    background-color: green;
}
/* Right side: Content container */
.container1 {
    width: 40%;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 8px;
    margin-left: 20px;
}

h2 {
    font-size: 55px;
    color: rgba(169, 169, 63, 0.9);
    margin-bottom: 50px;
}
h3{
    margin-bottom: 30px;
}
p {
    margin-bottom: 20px;
    line-height: 1.6;
}

hr {
    border: 0.5px solid #ccc;
    margin-bottom: 20px;
}
/*___________________ part2_______________________________ */

.container3 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.c3cont1, .c3cont2, .c3cont3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 100px;
    /* margin-right: 10px; */
    padding: 50px;
    align-items: start;
    /* background-color: blue; */
}

.c3cont1 img, .c3cont2 img, .c3cont3 img {
    display: flex;
    flex: 1;
    object-fit: fill;
    /* background-color: green; */
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 20px;
    /* margin-bottom: 50px; */
}

.container3 h1 {
    color: red;
}
