*{
    margin: 0;
    padding: 0;
    
    }
    
.parent{
    text-align: justify;
    
    background-color:burlywood;
    
    display: flex;
    
    justify-content: center;
    
    min-height: 100vh;
    
    align-items: center;
    
    flex-wrap: wrap;
}
    .parent>div{
    
    width: 200px;
    
    height: 300px;
    
    background-color:bisque;
    
    border: 2px solid â˜ black;
    
    margin: 20px;
    
    }

    .parent>h2{
        text-align: right;
    }
    
    .image{
    
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    }
    
    .content{
    
    height: 20%;
    
    display: flex;
    
    justify-content:flex-start center;
    
    align-items: center;
    
    }
    
    img{
    
    width: 100%;
    
    height: 100%;
    
    object-fit: cover;
    
    }
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    

    .nav{

        padding: 20px;    
        display: flex;   
        justify-content: space-between;
        background-color: bisque;
        /* color: cadetblue; */
        /* background-color: aquamarine; */
        color: black;
        font-size: 20px;
        position: sticky;
        top: 0;
        
        }
        
        .left{
        
        display: flex;
        
        }
        
        .left>h4{
        
        margin-right: 20px;
    }
    .content>button{
        margin: auto;
        border: none;
    }
    .container>h2{
        text-align: center;
        /* margin: 20px; */
        
    }
    .content>p{
        margin: 10px;
        padding-right: 0;
    }

    
